/***** Estilos Generales INICIO *****/
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #ff8947;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 4px;
}

footer {
  margin-top: 30px;
  background-color: #b74200;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}

.Botones {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
}

.Boton button {
  padding: 10px;
  color: #fff;
  background-color: #ed5600;
  border-radius: 16px;
  border: 2px solid #b74200;
  width: 100px;
}

.Boton button:hover {
  background-color: #ff8947;
  cursor: pointer;
}

.BotonSecundario button {
  margin-left: 10px;
  padding: 10px;
  color: #fff;
  background-color: #FFA572;
  border-radius: 16px;
  border: 1px solid #b74200;
  width: 100px;
}

.BotonSecundario button:hover {
  background-color: #ff8947;
  cursor: pointer;
}
/***** Estilos Generales FIN *****/

/***** Formulario INICIO *****/
.Formulario div {
  margin: 10px;
}
.Formulario label {
  min-width: 200px;
  display: inline-block;
  text-align: right;
}
.Formulario input {
  width: 70%;
  min-width: 200px;
}
/***** Formulario FIN *****/

/***** Tabla INICIO *****/
.Tabla {
  width: 100%;
}

.Tabla thead {
  background-color: #ed5600;
  color: #fff;
}
/***** Tabla FIN *****/
